@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Tickets Creados";
}

<div class="container mx-auto p-6 rounded-lg shadow-lg scrollbar-custom overflow-y-auto" style="height:600px">
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-teal-700">Tickets Creados</h1>
        <p class="text-5xl text-teal-600 py-5">@Model.Count()</p>
    </div>
    <div class="space-y-6">
        <!-- Ticket Card -->
        @{
            var rol = Context.Session.GetInt32("rol");
            var estado = "";

            if(rol == 1 || rol == 2)
            {
                @foreach (var item in Model)
                {
                    <div class="bg-white shadow-lg rounded-lg p-6 flex justify-between items-center">
                        <div class="flex-1">
                            <p class="text-sm font-semibold text-teal-700 mb-2">
                                Fecha de Creación: @item.Fecha
                            </p>
                            <h2 class="text-xl font-bold text-teal-700">Ticket: @item.IdTicket</h2>
                            <p class="text-sm text-gray-600 mt-2">Serivicio: @item.Servicio</p>
                            <p class="text-sm text-gray-600">Prioridad: @item.Prioridad</p>
                        </div>
                        <div class="flex space-x-4">
                            <button class="bg-teal-500 text-white  text-sm font-bold px-4 py-2 rounded-lg" onclick="openModalDetalle('@item.IdTicket')">
                                Descripción Del Ticket
                            </button>
                            <button class="bg-teal-500 text-white  text-sm font-bold px-4 py-2 rounded-lg" onclick="openModalProgreso('@item.IdTicket')">
                                Ver Progreso
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="bg-white shadow-lg rounded-lg p-6 flex justify-between items-center">
                        <div class="flex-1">
                            <p class="text-sm font-semibold text-teal-700 mb-2">
                                Fecha de Creación: @item.Fecha
                            </p>
                            <h2 class="text-xl font-bold text-teal-700">Ticket: @item.IdTicket</h2>
                            <p class="text-sm text-gray-600 mt-2">Serivicio: @item.Servicio</p>
                            <p class="text-sm text-gray-600">Prioridad: @item.Prioridad</p>
                            <p class ="text-sm text-gray-600">Estado: @{
                                    if(item.Estado == 1)
                                    {
                                        estado = "Creado";
                                    }else if(item.Estado == 2)
                                    {
                                        estado = "En Pausa";
                                    }else if(item.Estado == 3)
                                    {
                                        estado = "En proceso de Resolución";
                                    }
                                    else
                                    {
                                        estado = "Resuelto";
                                    }
                                } @estado</p>
                        </div>
                        <div class="flex space-x-4">
                            <button class="bg-teal-500 text-white  text-sm font-bold px-4 py-2 rounded-lg" onclick="openModalDetalle('@item.IdTicket')">
                                Descripción Del Ticket
                            </button>
                        </div>
                    </div>
                }
                
            }
        }
       
    </div>
</div>
<div id="modalDetalle"
     class="modal-overlay hidden fixed inset-0 flex items-center justify-center">
    <div id="detalle-modal" class="modal-content relative p-8 w-full max-w-2xl">
        
    </div>
</div>

<div id="modalProgreso"
     class="modal-overlay hidden fixed inset-0 flex items-center justify-center">
    <div id="progreso-modal" class="modal-content relative p-10 w-full max-w-3xl">
        
    </div>
</div>

<div id="modalCliente"
     class="modal-overlay hidden fixed inset-0 flex items-center justify-center">
    <div id="cliente-modal" class="modal-content relative p-8 w-full max-w-2xl">
        
    </div>
</div>

<script>
    function openModalDetalle(idTicket) {
        console.log('openModalProgreso idTicket:', idTicket); // Añadir esta línea para depurar
        document.getElementById("modalDetalle").classList.remove("hidden");
        fetch('/Tickets/DetalleTicket/' + idTicket)
            .then(response => response.text())
            .then(html => {
                document.getElementById('detalle-modal').innerHTML = html;
            });
    }

    function closeModalDetalle() {
        document.getElementById("modalDetalle").classList.add("hidden");
    }

    function openModalProgreso(idTicket) {
        
        document.getElementById("modalProgreso").classList.remove("hidden");
        fetch('/Tickets/TicketProgreso/' + idTicket)
            .then(response => response.text())
            .then(html => {
                document.getElementById('progreso-modal').innerHTML = html;
            });
    }

    function closeModalProgreso() {
        document.getElementById("modalProgreso").classList.add("hidden");
    }
    function openModalCliente(idTicket) {
        console.log('openModalCliente idTicket:', idTicket); // Añadir esta línea para depurar
        document.getElementById("modalCliente").classList.remove("hidden");
        fetch('/Tickets/ContactarCliente/' + idTicket)
            .then(response => response.text())
            .then(html => {
                document.getElementById('cliente-modal').innerHTML = html;
            });
    }

    function closeModalCliente() {
        document.getElementById("modalCliente").classList.add("hidden");
    }
    
</script>