@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Tickets Creados";
}

<div class="container mx-auto p-6 rounded-lg shadow-lg scrollbar-custom overflow-y-auto" style="height:600px">
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-teal-700">Tickets Creados</h1>
        <p class="text-5xl text-teal-600 py-5">@Model.Count()</p>
    </div>
    <div class="space-y-6">
        <!-- Ticket Card -->
        @{
            var rol = Context.Session.GetInt32("rol");
            var estado = "";

            if(rol == 1 || rol == 2)
            {
                @foreach (var item in Model)
                {
                    <div class="bg-white shadow-lg rounded-lg p-6 flex justify-between items-center">
                        <div class="flex-1">
                            <p class="text-sm font-semibold text-teal-700 mb-2">
                                Fecha de Creación: @item.Fecha
                            </p>
                            <h2 class="text-xl font-bold text-teal-700">Ticket: @item.IdTicket</h2>
                            <p class="text-sm text-gray-600 mt-2">Serivicio: @item.Servicio</p>
                            <p class="text-sm text-gray-600">Prioridad: @item.Prioridad</p>
                        </div>
                        <div class="flex space-x-4">
                            <button class="bg-teal-500 text-white  text-sm font-bold px-4 py-2 rounded-lg" onclick="openModalDetalle('@item.IdTicket')">
                                Descripción Del Ticket
                            </button>
                            <button class="bg-teal-500 text-white  text-sm font-bold px-4 py-2 rounded-lg" onclick="openModalProgreso('@item.IdTicket')">
                                Ver Progreso
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="bg-white shadow-lg rounded-lg p-6 flex justify-between items-center">
                        <div class="flex-1">
                            <p class="text-sm font-semibold text-teal-700 mb-2">
                                Fecha de Creación: @item.Fecha
                            </p>
                            <h2 class="text-xl font-bold text-teal-700">Ticket: @item.IdTicket</h2>
                            <p class="text-sm text-gray-600 mt-2">Serivicio: @item.Servicio</p>
                            <p class="text-sm text-gray-600">Prioridad: @item.Prioridad</p>
                            <p class ="text-sm text-gray-600">Estado: @{
                                    if(item.Estado == 1)
                                    {
                                        estado = "Creado";
                                    }else if(item.Estado == 2)
                                    {
                                        estado = "En Pausa";
                                    }else if(item.Estado == 3)
                                    {
                                        estado = "En proceso de Resolución";
                                    }
                                    else
                                    {
                                        estado = "Resuelto";
                                    }
                                } @estado</p>
                        </div>
                        <div class="flex space-x-4">
                            <button class="bg-teal-500 text-white  text-sm font-bold px-4 py-2 rounded-lg" onclick="openModalDetalle('@item.IdTicket')">
                                Descripción Del Ticket
                            </button>
                        </div>
                    </div>
                }
                
            }
        }
       
    </div>
</div>
<div id="modalDetalle"
     class="modal-overlay hidden fixed inset-0 flex items-center justify-center">
    <div id="detalle-modal" class="modal-content relative p-8 w-full max-w-2xl">
        
    </div>
</div>

<div id="modalProgreso"
     class="modal-overlay hidden fixed inset-0 flex items-center justify-center">
    <div id="progreso-modal" class="modal-content relative p-10 w-full max-w-3xl">
        
    </div>
</div>

<div id="modalCliente"
     class="modal-overlay hidden fixed inset-0 flex items-center justify-center">
    <div class="modal-content relative p-8 w-full max-w-2xl">
        <button class="close-button absolute top-2 right-2 text-teal-600"
                onclick="closeModalCliente()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="40"
                 height="40"
                 viewBox="0 0 24 24">
                <path fill="#1D9E9A"
                      fill-rule="evenodd"
                      d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10M8.97 8.97a.75.75 0 0 1 1.06 0L12 10.94l1.97-1.97a.75.75 0 0 1 1.06 1.06L13.06 12l1.97 1.97a.75.75 0 0 1-1.06 1.06L12 13.06l-1.97 1.97a.75.75 0 0 1-1.06-1.06L10.94 12l-1.97-1.97a.75.75 0 0 1 0-1.06"
                      clip-rule="evenodd" />
            </svg>
        </button>
        <h2 class="text-4xl font-bold text-teal-700 text-center mb-8">
            Información del Cliente
        </h2>
        <form>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label class="block text-teal-700 text-sm font-bold mb-2"
                           for="nombre">NOMBRE</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200"
                           id="nombre"
                           type="text" />
                </div>
                <div>
                    <label class="block text-teal-700 text-sm font-bold mb-2"
                           for="apellido">APELLIDO</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200"
                           id="apellido"
                           type="text" />
                </div>
                <div>
                    <label class="block text-teal-700 text-sm font-bold mb-2"
                           for="email">E-MAIL</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200"
                           id="email"
                           type="email" />
                </div>
                <div>
                    <label class="block text-teal-700 text-sm font-bold mb-2"
                           for="telefono">TELÉFONO</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200"
                           id="telefono"
                           type="tel" />
                </div>
                <div class="col-span-2">
                    <label class="block text-teal-700 text-sm font-bold mb-2"
                           for="consulta">DUDAS O CONSULTAS</label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                              id="consulta"
                              rows="4"></textarea>
                </div>
            </div>
            <div class="flex items-center justify-center mt-4">
                <button class="bg-button hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    function openModalDetalle(idTicket) {
        console.log('openModalProgreso idTicket:', idTicket); // Añadir esta línea para depurar
        document.getElementById("modalDetalle").classList.remove("hidden");
        fetch('/Tickets/DetalleTicket/' + idTicket)
            .then(response => response.text())
            .then(html => {
                document.getElementById('detalle-modal').innerHTML = html;
            });
    }

    function closeModalDetalle() {
        document.getElementById("modalDetalle").classList.add("hidden");
    }

    function openModalProgreso(idTicket) {
        
        document.getElementById("modalProgreso").classList.remove("hidden");
        fetch('/Tickets/TicketProgreso/' + idTicket)
            .then(response => response.text())
            .then(html => {
                document.getElementById('progreso-modal').innerHTML = html;
            });
    }

    function closeModalProgreso() {
        document.getElementById("modalProgreso").classList.add("hidden");
    }
    function openModalCliente() {
        document.getElementById("modalCliente").classList.remove("hidden");
    }

    function closeModalCliente() {
        document.getElementById("modalCliente").classList.add("hidden");
    }
    
</script>